streamlit
firebase-admin
PyMuPDF
openai
python-docx
python-dotenv
pandas
numpy
matplotlib
requests
scikit-learn
Pillow
watchdog
tqdm
email-validator
validators
langchain
tiktoken
gdown
transformers==4.41.1
PyPDF2
sentence-transformers
spacy
nltk
fpdf
