streamlit
firebase-admin
pandas
numpy
scikit-learn
transformers==4.37.2
torch==2.2.2
sentence-transformers
spacy
nltk
python-dotenv
fpdf
PyMuPDF
gdown
PyPDF2
python-docx
matplotlib
langchain>=0.1.14
langchain_community>=0.0.21
textblob
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
sentencepiece
openai
faiss-cpu
tiktoken